:root{
    /* Color */
    --light-grayish-orange:#fbeee6;
    --chablis:#FFE5D8;
    --very-pale-red:#FFCAD4;
    --strawberry-sorbet:#F3ABB6;
}

*{
    margin:0; padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 15rem 9%;
    margin-top: 5%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--strawberry-sorbet);
    color: #333;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    border: .2rem solid var(#333);
    border-radius: 20px;
}

.btn:hover{
    background: var(--very-pale-red);
    color:#fff;
}

/* Header */

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    margin-left: -3%;
}

header .searches{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

header .searches a .fa{
    color: #666;
    font-size: 18px
}

header .navbar a{
    font-size: 2rem;
    padding: 01.5rem;
    color: #666;
}

header .navbar .active{
    color: var(--strawberry-sorbet);
}

header .navbar a:hover{
    color: var(--strawberry-sorbet);
}

header .icons div{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--very-pale-red);
}


header .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 45rem;
    background: #fff;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,.3);
    display: none;
}

/* About */

.about .heading{
    margin-top: -8%;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/* Footer */

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -25%;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display:block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
    margin-left: -15%   ; 
    gap:1.5rem;
}

.footer .fa:hover {
    opacity: 0.7;
}

.footer .fa-facebook {
    background: var(--strawberry-sorbet);
    color: white;
}

.footer .fa-instagram {
    background: var(--very-pale-red);
    color: white;
}

.footer .fa-twitter {
    background: var(--chablis);
    color: white;
}

.footer .credit{
    text-align: center;
    padding: .5rem;
    margin-top: .5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .terms{
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    
}





/* media queries */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:3rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
}